extends ../layout

block body
    h1 Agregar libro
    form(method="POST" action="/book" enctype="multipart/form-data" style="margin-top:2em")
        .form-group
            .row
                .col-xs-4.col-md-2
                    label(for="title") Título del libro
                .col-xs-8.col-md-10
                    input(type="text" name="title" class="form-control" require=true id="title")
        .form-group
            .row
                .col-xs-4.col-md-2
                    label(for="description") Descripción
                .col-xs-8.col-md-10
                    textarea(name="description" id="description" class="form-control")
        .form-group
            .row
                .col-xs-6.col-md-2
                    label(for="avatar") Foto
                .col-xs-6.col-md-10
                    input(name="avatar" type="file" id="avatar" class="form-control")
        .form-group
            .row
                .col-xs-4.col-md-2
                    label(for="pages") Número de Páginas
                .col-xs-8.col-md-10
                    input(type="number" name="pages" class="form-control" id="pages")
        .form-group
            .row
                .col-xs-4.col-md-2
                    label(for="publishedAt") Fecha de Publicación
                .col-xs-8.col-md-10
                    input(type="date" name="publishedAt" class="form-control" id="publishedAt")
        .form-group.text-right
            input(type="submit" class="btn btn-success" value="Guardar libro")
