extends ../layout

block body
  .card.no-padding
    header.cover(style="background-image:url(/images/books/avatars/#{book.avatarUrl})")
        
    .large-padding
        .row
            .col-xs-12.col-sm-6
                h1=book.title
                if book.description
                    p
                        strong Descripción: 
                        span=book.description
                if book.publishedAt
                    p
                        strong Publicado
                        span = book.publishedAt
                if book.pages
                    p
                        strong No. Páginas
                        span = book.pages
            .col-xs-12.col-sm-6
